
body {
  
  background-image:/*linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),*/url("https://images.wallpaperscraft.com/image/headphones_laptop_macbook_apple_107920_1920x1080.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  margin: 0;
}
